.gradle
build/
cmake-build-*/
!gradle/wrapper/gradle-wrapper.jar

.idea/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store
hs_err_pid*
